
<div class="modal fade" id="modal-insert-congnodt" role="document" aria-hidden="true" ng-controller="itemCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thêm công nợ của đối tác</h4>
            </div>
            <div class="modal-body" ng-repeat="partner in items">
                
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <a data-toggle="collapse" data-target="#demo-congnodt{{partner}}" style="cursor: pointer" class="btn btn-default"><i class="fa fa-plus"></i></a>
                                        <span class="caption-subject bold uppercase font-purple">OPTION {{partner}}</span>
                                    </div>
                                    <div class="actions">
                                        <button style="cursor: pointer" class="btn btn-danger" ng-show="$last" ng-click="removeItem()"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="portlet-body" id="demo-congnodt{{partner}}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Đối tác</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" name="CongNoDoiTacName{{partner}}" id="insert-partner{{partner}}" style="width: 100%">
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>C</option>
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Thanh toán đợt 1</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="text" value="" class="form-control" name="FirstPayment{{partner}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Thanh toán</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <select class="form-control" name="CongNoDoiTacPayment{{partner}}">
                                                        <option>Tiền mặt</option>
                                                        <option>Chuyển khoản</option>
                                                        <option>Thẻ</option>
                                                        <option>Khác</option>
                                                    </select>
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Thanh toán đợt 2</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="text" value="" class="form-control" name="SecondPayment{{partner}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Giá trị dịch vụ</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="text" value="" class="form-control" name="CongNoDoiTacService{{partner}}" />
                                                </div>
                                                <label class="control-label col-lg-2 col-md-2">Còn lại</label>
                                                <div class="col-lg-4 col-md-4">
                                                    <input type="text" value="" class="form-control" name="CongNoDoiTacConLaiPrice{{partner}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                                <div class="col-lg-10 col-md-10">
                                                    <textarea class="form-control" id="note-congnodt" name="CongNoDoiTacNote{{partner}}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center" style="margin-bottom: 20px">
                <button type="button" class="btn btn-success" ng-click="addNewItem()">Thêm option</button>
                <button type="button" class="btn blue" id="btnLuuThem">Lưu</button>
                <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>