
<div class="row">
    <div class="col-md-6">
        Code tour:<br />
        Tên tour:<br />
        Số ngày:
        <br />
        Thời gian:
        <br />
        Tuyến:
        <br />
        Người liên hệ:
        <br />
        Điện thoại:
        <br />
    </div>
    <div class="col-md-6">
        Yêu cầu cụ thể:
        <br />
        Tình trạng:<br />
        ...
        <br />
    </div>
</div>