@using CRM.Core
@model tbl_TourSchedule

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <p>@Html.Raw(Model.Note)</p>
        </div>
    </div>
}
else
{
    
}
