<div class="modal fade  bs-modal-lg" id="modal-insert-schedule" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Lịch hẹn</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Ngày hẹn</label>
                                <div class="col-lg-3 col-md-3">
                                    <div class="input-group" data-date-format="mm/dd/yyyy">
                                        <input type="date" class="form-control" id="insert-ngayhen-schedule" name="ScheduleDate">
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <label class="control-label col-lg-3 col-md-3">Trạng thái</label>
                                <div class="col-lg-3 col-md-3">
                                    <select class="form-control" name="ScheduleStatus">
                                        <option>----------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Loại lịch hẹn</label>
                                <div class="col-lg-3 col-md-3">
                                    <select class="form-control" name="ScheduleType">
                                        <option>----------</option>
                                    </select>
                                </div>
                                <label class="control-label col-lg-3 col-md-3">Thời điểm</label>
                                <div class="col-lg-3 col-md-3">
                                    <select class="form-control" name="ScheduleTime">
                                        <option>----------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">
                                    <input type="checkbox" />&nbsp;Nhắc trước</label>
                                <div class="col-lg-3 col-md-3">
                                    <select class="form-control" name="ScheduleAlert">
                                        <option>5 phút</option>
                                        <option>10 phút</option>
                                        <option>-------</option>
                                    </select>
                                </div>
                                <label class="control-label col-lg-3 col-md-3">
                                    <input type="checkbox" />&nbsp;Lặp lại</label>
                                <div class="col-lg-3 col-md-3">
                                    <select class="form-control" name="Repeat">
                                        <option>5 phút</option>
                                        <option>10 phút</option>
                                        <option>-------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Diễn giải</label>
                                <div class="col-lg-9 col-md-9">
                                    <textarea class="form-control" name="ScheduleNote"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center" style="margin-bottom: 20px">
                <button type="button" class="btn blue" id="btnLuuThem">Lưu</button>
                <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


