@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/Content/assets/global/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">
    <script src="~/Content/assets/global/plugins/fullcalendar/moment.min.js"></script>
    <script src="~/Content/assets/global/plugins/fullcalendar/jquery.min.js"></script>
    <script src="~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script>

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month'//,agendaWeek,agendaDay'
                },
                defaultDate: '2016-01-12',
                businessHours: true, // display business hours
                editable: true,
                events: [
                    {
                        title: 'Business Lunch',
                        start: '2016-01-03',
                        constraint: 'zs'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-01-13',
                        constraint: 'za', // defined below
                        color: '#257e4a'
                    },
                    {
                        title: 'Conference',
                        start: '2016-01-18',
                        end: '2016-01-20' // defined below
                    },
                    {
                        title: 'Party',
                        start: '2016-01-29',
                        constraint: 'zx'
                    },




                ]
            });

        });

    </script>
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body class="">
    <div id="calendar"></div>

</body>
</html>